header{
    border-bottom: 1px solid #CCCCCC;
    height: 70px;
    background-image: url(../images/logo.png);
    background-position: 20px 50%; 
    background-repeat: no-repeat;
    background-color: white;
    width: 100%;
}

